<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css' ) }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" type="text/css" media="all" />
    <title>{% block head %}{% endblock %}</title>
</head>

<body class="spacer">
    <div class="ghostwhite spacer right-lg pr-5 pl-2">
         <div class="navbar has-shadow is-fixed-top ">
           <div class="navbar-brand ml-5  up spaced ">
               <div class="navbar-item w25 left">
                <div>
                       <a href="{{url_for('index')}}"style="color: rgb(15, 2, 252);">News</a><a href="{{url_for('index')}} " style="color: aqua;">24U</a>
                   </div> 
                    
                   
                </div>
            </div>
        
        <div class="navbar-end spaced-left">
            <div class="tabs mx-5">
            <ul class="">
                <li class=" w33 {% block search %} {% endblock %}" ><a href="{{url_for('search')}}">search</a></li>
                <li class="w33  {% block headline %} {% endblock %}" ><a href="{{url_for('index')}}">headlines</a></li>
                <li class="w33  {% block about %} {% endblock %} "><a  href="{{url_for('about')}}">about</a></li>
            </ul>
        </div>
        </div>
    </div>

    <div class="my-5 py-5">
        
    </div>
    <div class="">
        {% block body %}
        {% endblock %}
    </div> 
    </div>
</body>
<script src="{{ url_for('static', filename='script.js' ) }}"></script>
</html>
